@page
@model Sasw.EasyContent.Razor.Pages.PostModel
@{
    ViewData["Title"] = "Post";
}

<h1>@Model.Title</h1>
@if (!@Model.PublishedOn.Equals(DateTime.MinValue))
{
    <span>Published on @Model.PublishedOn.ToString("yyyy-MM-dd") </span>
}
@if (@Model.Author != null)
{
    <span>by @Model.Author</span>
}
<div>
    @Model.HtmlContent
</div>